* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #f6f8f9;
}


.container {

}

header {
    background-color: white;
}

.logo {
    display: inline-block;
    width: 70px;
    vertical-align: middle;
    margin-left: 10px;
}

.testo-logo {
    display: inline-block;
    vertical-align: middle;
}


.first-square {
    width: 950px;
    height: 50px;
    background-color: white;
    margin-top: 35px;
    margin-left: 200px;

}
.second-square {
    width: 950px;
    height: 490px;
    background-color: white;
    margin-top: 3px;
    margin-left: 200px;
}

.bottone {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    padding: 7px 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.primo {
    background-color: #14aaf5;
    color: white;
    border-color: #14aaf5;
    margin-left: 30px;
}

.secondo {
    background-color: white;
    color: lightgray;
    border-color: lightgray;
}


li {
    list-style: none;
    margin-bottom: 18px;
}

.list {
    margin-left: 40px;
    padding: 20px;
}


.tag {
    border: 1px solid black;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 10px;
    color: white;
}



.editorial {
    background-color: blue;
    border-color: blue;
}

.goals {
    background-color: purple;
    border-color: purple;
}
.recruiting {
    background-color: #64c0a9;
    border-color: #64c0a9;
}

.mobile {
    background-color: orange;
    border-color: orange;
}

.website {
    background-color: #d863a1;
    border-color: #d863a1;
}

.sales {
    background-color: #b0c926;
    border-color: #b0c926;

.circle {
    display: inline-block;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.green {
    color: #2cc6ab;
    border-color: #2cc6ab;
}

.red {
    color: red;
    border-color: red;
}